# Data Processing & Lakehouse
pandas
numpy
pyarrow
pyspark
dbt-core

# Machine Learning & Modeling
scikit-learn
xgboost
lightgbm
statsmodels
scipy
joblib
lifelines # Useful for censored regression

# Web Scraping & APIs
requests
beautifulsoup4
scrapy

# Generative AI - Gemini
google-generativeai

# Visualization
matplotlib
seaborn
plotly

# Web App & UI
streamlit
streamlit-option-menu

# Utilities
pyyaml
jupyter
pytest
python-dotenv
